@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task1b</h1>
    <p class="lead">
        Система заявок на стандартный инвентарь.
        Описание: Сотрудники компании должны иметь возможность делать заявки на стандартный инвентарь.
        Каждая заявка должна содержать в себе дату создания, а также одну или несколько позиций стандартного инвентаря
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Заявки</h2>
        <p>
            Просмотр, редактирование или удаление заявок
        </p>
        <p><a class="btn btn-default" href="/Orders/index">Перейти</a></p>
    </div>
    <div class="col-md-4">
        <h2>Инвентарь</h2>
        <p>Просмотр и управление позициями в инвентаре</p>
        <p><a class="btn btn-default" href="/Inventories/index">Перейти</a></p>
    </div>
    <div class="col-md-4">
        <h2>Отчет</h2>
        <p>Составление отчета за определенный период</p>
        <p><a class="btn btn-default" href="/Orders/Report">Перейти</a></p>
    </div>
</div>